target
.settings
.project
.classpath
raw_test_data*
scratch_test_data*
skeleton_test_data*
*_backup_data*
*~
.metadata
*.releaseBackup
release.properties
/base/other/src
/base/db/core/src
/base/util/src

