target
.settings
.project
.classpath
raw_test_data*
scratch_test_data*
skeleton_test_data*
*_backup_data*
*~
.metadata
*.releaseBackup
release.properties
/base/other/src
/base/db/core/src
/base/remote/src
/base/screen/misc/src
/base/screen/control/servlet/src
/base/util/src
/main/db/src
/base/misc/src
/main/msg/src
/main/remote/src
/main/schedule/src
android/test/org.jbundle.android.test.db.mem/gen
android/test/org.jbundle.android.test.db.mem/bin

