<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Welcome</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>
  <body>
    <section name="Welcome to the JBundle Project!">
      <p>
        JBundle is a real-time client-server application framework written in java.<br/>You're looking at it here:
      </p>
<p>
    <iframe src ="/webstart/docs/applet.html?appletClass=org.jbundle.util.calendarpanel.sample.rich.CalendarTestApplet" width="100%" height="350">
      <p>Your browser does not support iframes.</p>
    </iframe>
</p>
      <p>
        It looks like a regular web page, right. Except the information on the screen keeps changing.
      </p>
      <p>
        Try it for yourself. Move some of the calendar items around. Bring up another
        <a href="webstarthere">copy</a>
        of this application
        and notice that any changes are reflected in all the open windows.
      </p>
      <p>
        More interesting is what you don't see. You are probably behind a restrictive firewall.
        You didn't receive any security warning notices. JBundle is very careful to
        stay within your computer's security constraints.
      </p>
<p>
JBundle is already configured as an <a href="http://www.osgi.org">OSGi</a> bundle.
To use it in your OSGi project, just include JCalendarButton in the
manifest of the bundles that will be using JCalendarButton.
Remember to install the JCalendarButton jar in your OSGi environment.
</p>
<p>
<code>
${project.organization.url}/${OBRRepositoryIndex}
<!-- Import-Package: ${project.groupId};resolution:=optional;version=${project.version} -->
</code>
</p>
      <p>
      	JBundle runs best as a
      	<a href="xx">full screen web applet</a>, but it can also run as a
      	<a href="xx">standalone application</a>,
      	an <a href="xx">Ajax application</a>,
      	an <a href="xx">xhtml web page</a>,
      	or as an <a href="xx">html web page</a>.<br/>
      	All of these views are running the exact same program.
      </p>
      <p>
        JBundle was created to simplify building modern applications. Here are the details:<br/>
        <a href="project.html">A simple unified application structure</a><br/>
        <a href="database.html">A simple database structure</a><br/>
        <a href="database.html">Real-time display of data</a><br/>
        <a href="database.html">A flexible display architecture</a><br/>
        <a href="database.html">A safe security architecture</a><br/>
        <a href="technical.html">Technical information</a><br/>
        <a href="sample.html">Create a sample application</a><br/>
      </p>
    </section>
  </body>
</document>

