<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Welcome</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>
  <body>
    <section name="JBundle - Creating a sample application">
      <p>
      
<![CDATA[
      Fix it all!
      
      /jbundle/config/web/site/schedule.xml.vm
      
      1. jbundle deploy
         4. OSGify JBundle project
            1. Fix MessageReceivingServlet in xx-webbundle module
         	3. Find and fix all non-OSGi dependencies
         		1. JSON
         		2. javax.mail
         		3. DOJO
         		4. Test vs Jetty
         5. Finish JBundle code.
         	1. XSL Servlet (dump cocoon)
         	2. Finish Contact test app in workspace-xxx, 
         	3. Contact webdeploy test vs jetty/OSGi
         	4. Finish docs
         	5. Translate plugin
         	6. Add open source headers to source code (see plugin)
         	7. Deploy to maven (@jbundle.org)
         	8. Finish new jbundle-site
         	9. Add sf/ow2/xx project
         6. DW article schema vs cfx? vs currency converter
      2. Tourapp finish
      	1. Payment Screen (paypal)
      		1. Thick
      		2. Thin
      		3. Batch//server
      3. Deploy sites
      	1. http
      	2. google sites
      	3. mslive
      	4. open source
      	5. blog
      	6. brocure request/newsletter
      	7. skype/facebook/twitter
      4. Upload to u/g
      	1. Brochures
      	2. Menus
      	3. release web xml
      	4. TestSecond
      	5. ArControl
      5. Other
      	1. Status box on applet window
      5. Market
      	1. Letter to Dave Herbert
      	2. Letter to Cal Native
      	3. Contact Carms - European Travel
      
]]>
      
      </p>
      <p>
      	Now that your code is compiled, you need to place it into a web server<br></br>
      	I use glassfish for this demonstration, because it contains a web server, an OSGi server,
      	and a database in a single install.<br></br>
      	You can download the latest glassfish (v3) from <a href="http://glassfish.dev.java.net">glassfish.dev.java.net</a>.
      	Run the glassfish install, then startup glassfish and tweek some of the settings:<br></br>
      	<code>
      	glassfish-3.0.1-unix.sh <em>(install glassfish)</em><br/>
      	cd [glassfish home]<br/>
      	bin/asadmin start-domain<br/>
      	bin/asadmin delete-jvm-options "-XX\:PermSize=256m"<br/>
      	bin/asadmin create-jvm-options "-XX\:PermSize=256m"<br/>
      	bin/asadmin delete-jvm-options "-XX\:MaxPermSize=512m"<br/>
      	bin/asadmin create-jvm-options "-XX\:MaxPermSize=512m"<br/>
      	bin/asadmin delete-jvm-options -- -Xmx512m<br/>
      	bin/asadmin create-jvm-options -- -Xmx1024m<br/>
      	bin/asadmin delete-jvm-options -- -Xms512m <em>(ignore any warnings)</em><br/>
      	bin/asadmin create-jvm-options -- -Xms512m<br/>
      	<br/>
      	bin/asadmin create-jdbc-resource --connectionpoolid DerbyPool jdbc/app_user<br/>
      	bin/asadmin create-jdbc-resource --connectionpoolid DerbyPool jdbc/app_shared<br/>
      	bin/asadmin create-jdbc-resource --connectionpoolid DerbyPool jdbc/main_user<br/>
      	bin/asadmin create-jdbc-resource --connectionpoolid DerbyPool jdbc/main_shared<br/>
      	<br/>
      	bin/asadmin restart-domain<br/>
      	<br/>
      	bin/asadmin deploy --name contact --contextroot /contact --upload false [project name]/jbundle-app-contact-root/jbundle-app-contact-webapp/target/jbundle-app-contact-webapp-${project.version}/<br/>
      	<br/>
      	bin/asadmin start-database<br/>
      	</code> 
      </p>
      <p>
      
      
      Karaf setup:

# rm -fr apache-karaf-2.2.1/     
# tar zxvf ~/Download/software/karaf/apache-karaf-2.2.1.tar.gz 
rm -fr apache-karaf-full-3.0.0-SNAPSHOT/
tar zxvf ~/workspace-karaf/karaf/assemblies/apache-karaf-full/target/apache-karaf-full-3.0.0-SNAPSHOT-bin.tar.gz

cd karaf/etc/
cp ~/workspace/workspace/bin/tourapp/policy/policy.all all.policy
echo -e '\norg.osgi.framework.security=osgi\n' >> custom.properties
echo -e '\njava.security.policy=${karaf.base}/etc/all.policy\n' >> system.properties
echo -e '\norg/apache/felix/org.apache.felix.security/1.4.2/org.apache.felix.framework.security-1.4.2.jar=1\n' >> startup.properties
cd ..
mkdir -p system/org/apache/felix/org.apache.felix.security/1.4.2
cp ~/Download/org.apache.felix.framework.security-1.4.2.jar system/org/apache/felix/org.apache.felix.security/1.4.2/

export JAVA_MIN_MEM=512M
export JAVA_MAX_MEM=2048M
export JAVA_PERM_MEM=256M
export JAVA_PERM_MEM=512M

bin/karaf 
features:install war obr jndi webconsole
#      . setenv.sh
#      java -Xms256m -Xmx1024m -XX:PermSize=128M -XX:MaxPermSize=256M -Djava.rmi.server.codebase=http://$SERVER/classes/ -Djava.security.policy=$POLICY_ALL -jar bin/felix.jar
#      deploy -s 'Apache Felix Http Jetty'
#      repos add file:/home/don/.m2/repository/repository.xml
x obr:addurl file:/home/don/.m2/repository/repository.xml

obr:addurl file:snapshot-repository.xml
obr:addurl http://www.jibx.org/repository.xml
# obr:addurl http://www.jbundle.org/repository.xml
obr:addurl http://chameleon.ow2.org/repository/chameleon-releases.xml
obr:addurl http://chameleon.ow2.org/repository/chameleon-commons.xml

install mvn:joda-time/joda-time/1.6.2
install mvn:biz.source_code/base64coder/2010-12-19
install mvn:mysql/mysql-connector-java/5.1.14

obr:deploy 'jbundle-util-osgi-obr - obr bundle retrieval'
obr:deploy 'jbundle-util-osgi-jnlp - osgi to web start web bundle'
obr:deploy 'jbundle-base-remote - Remote server'
obr:deploy 'jbundle-web-httpweb - Hybrid osgi webapp'
obr:deploy 'tourapp-web-httpweb - Hybrid osgi webapp'
     
x install mvn:org.jbundle.util.osgi.wrapped/org.jbundle.util.osgi.wrapped.c3p0/0.9.1.2


      </p>
      <p>
cd
		cd /home/glassfish/sonatype-work/nexus/storage/snapshots
      java -jar /usr/local/java/dev/bindex/bindex.jar -r snapshot-repository.xml -t http://snapshot.jbundle.org:8081/nexus/content/repositories/snapshots/%p/%f *



      </p>
      <p>
      	Now you're ready to try it out!<br></br>
      	Open your favorite browser and type <a href="http://localhost:8080/contact">http://localhost:8080/contact</a> into the location bar.
      	Select the <strong>Contact Application</strong> and you're in!
      	<br/>
      	Try this url:
      	<br/>
      	http://localhost:8080/contact/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;menu=dev.tourapp.com
      	<br/>
      	http://localhost:8080/contact/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;screen=org.jbundle.app.contact.screen.ContactGridScreen
      	<br/>
      	http://localhost:8080/contact/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;menu=dev.tourapp.com#%3Fscreen%3Dorg.jbundle.app.contact.screen.ContactGridScreen%26jnlpjars%3Dlib%252Fjbundle-base-screen-view-swing%26background%3Dbackgrounds%252Fworldmapalpha.gif%26userid%3D1%26applet%3Dorg.jbundle.Main%26backgroundcolor%3D%2523eeeeff%26jnlpextensions%3Ddocs%252Fjnlp%252Fapp%252Cdocs%252Fjnlp%252Fthin%252Cdocs%252Fjnlp%252Fthick%252C
      	<br/>
      </p>
      <p>

      	mv /home/don/.m2/repository/org/jbundle/config/jbundle-config-web-webbundle/0.7.7-SNAPSHOT/jbundle-config-web-webbundle-0.7.7-SNAPSHOT.war /home/don/.m2/repository/org/jbundle/config/jbundle-config-web-webbundle/0.7.7-SNAPSHOT/jbundle-config-web-webbundle-0.7.7-SNAPSHOT.jar
		java -jar ~/Download/bindex.jar -r ~/.m2/full-repository.xml ~/.m2/repository
		mv /home/don/.m2/repository/org/jbundle/config/jbundle-config-web-webbundle/0.7.7-SNAPSHOT/jbundle-config-web-webbundle-0.7.7-SNAPSHOT.jar /home/don/.m2/repository/org/jbundle/config/jbundle-config-web-webbundle/0.7.7-SNAPSHOT/jbundle-config-web-webbundle-0.7.7-SNAPSHOT.war
		jedit ~/.m2/full-repository.xml    (change jar to war)

      	<br/>

        telnet localhost 6666
        
        repos add file:/home/don/.m2/full-repository.xml
        
        deploy 'jbundle-app-contact - Contact example'@1.0.0-SNAPSHOT
        
        deploy -s 'jbundle-config-web-bundle - OSGi Bundle'@0.7.6.SNAPSHOT
        
        deploy -s 'jbundle-config-web-webbundle - Hybrid web osgi webapp'@0.7.6.SNAPSHOT
        
      	<br/>

      	http://localhost:8080/contact/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;menu=dev.tourapp.com
      	<br/>
      	http://localhost:8080/contact/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;screen=org.jbundle.app.contact.screen.ContactGridScreen
      	<br/>
      	http://localhost:8080/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;screen=org.jbundle.app.contact.screen.ContactGridScreen
      	<br/>
      	http://localhost:8080/contact/tourapp?applet=org.jbundle.Main&amp;jnlpjars=lib%2Fjbundle-base-screen-view-swing&amp;userid=1&amp;jnlpextensions=docs%2Fjnlp%2Fapp%2Cdocs%2Fjnlp%2Fthin%2Cdocs%2Fjnlp%2Fthick%2C&amp;background=backgrounds%2Fworldmapalpha.gif&amp;backgroundcolor=%23eeeeff&amp;jbundleversion=&amp;menu=dev.tourapp.com#%3Fscreen%3Dorg.jbundle.app.contact.screen.ContactGridScreen%26jnlpjars%3Dlib%252Fjbundle-base-screen-view-swing%26background%3Dbackgrounds%252Fworldmapalpha.gif%26userid%3D1%26applet%3Dorg.jbundle.Main%26backgroundcolor%3D%2523eeeeff%26jnlpextensions%3Ddocs%252Fjnlp%252Fapp%252Cdocs%252Fjnlp%252Fthin%252Cdocs%252Fjnlp%252Fthick%252C
      	<br/>
      </p>
      <p>
      cd /home/don/workspace/jbundle-workspace
      rm ~/.m2/repository/repository.xml
      rm -fr ~/.m2/repository/org/jbundle
      cd jbundle-parent/
      mvn install
      cd ../jbundle-util-root/
      mvn install
      cd ../jbundle-util-webapp-root/
      mvn install
      cd ../jbundle-calendarpanel-root/
      mvn install
      cd ../jbundle-root/jbundle-model/
      mvn install
      cd ..
      mvn install > ~/mvn.log
      
      
      cd /home/don/workspace/jbundle-workspace/jbundle-root/jbundle-thin/jbundle-thin-base/jbundle-thin-base-db/jbundle-thin-base-db-core

/home/don/.m2/repository/org/jbundle/app/contact/jbundle-app-contact-jnlp/1.0.0-SNAPSHOT
/home/don/.m2/repository/org/jbundle/app/contact/jbundle-app-contact-web-jnlp/1.0.0-SNAPSHOT


start felix...
g! deploy -s 'Apache Felix iPOJO'
g! repos add http://chameleon.ow2.org/repository/chameleon-releases.xml
g! repos add http://chameleon.ow2.org/repository/chameleon-commons.xml
g! deploy -s 'OW2 Chameleon - json.org JSON Service Implementation'
g! start file:/home/don/workspace-ow2/jsontest/target/jsontest-0.0.1-SNAPSHOT.jar

      </p>
	</section>
  </body>
</document>

