<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="$$context">
<information>
<title>Splash Screen Resources</title>
<vendor>tourapp.com</vendor>
<homepage href="index.html"/>
<description kind="one-line">Splash (starter screen)</description>
<description kind="short">Splash Screen Resources</description>
<icon href="images/tour/icons/Tour.gif"/>
<offline-allowed/>
<keywords>tour</keywords>
</information>
<security/>
<resources>
<java version="1.6+" initial-heap-size="128m" max-heap-size="512m"/>
<property name="jnlp.packEnabled" value="true"/>
<jar href="lib/org.jbundle.splash-${project.version}.jar" part="org.jbundle.splash"/>
<package name="org.jbundle.thin.base.screen.splash.*" part="org.jbundle.splash" recursive="true"/>
</resources>
<component-desc/>
</jnlp>
