<?xml version="1.0" encoding="UTF-8"?><jnlp codebase="$$context" spec="1.0+">
<information>
<title>Splash Screen Resources</title>
<vendor>tourapp.com</vendor>
<homepage href="index.html"/>
<description kind="one-line">Splash (starter screen)</description>
<description kind="short">Splash Screen Resources</description>
<icon href="images/tour/icons/Tour.gif"/>
<offline-allowed/>
<keywords>tour</keywords>
</information>
<security/>
<resources>
<java max-heap-size="512m" initial-heap-size="128m" version="1.6+"/>
<property value="true" name="jnlp.packEnabled"/>
<jar href="lib/org.jbundle.splash-${project.version}.jar" part="org.jbundle.splash"/>
<package name="org.jbundle.thin.base.screen.splash.*" part="org.jbundle.splash" recursive="true"/>
</resources>
<component-desc/>
</jnlp>
