<?xml version="1.0" encoding="UTF-8"?><jnlp codebase="$$context" spec="1.0+">
<information>
<title>Thin Application Resources</title>
<vendor>tourapp.com</vendor>
<homepage href="index.html"/>
<description kind="one-line">Thin Base Application Resources</description>
<description kind="short">Thin Application Resources</description>
<icon href="images/tour/icons/Tour.gif"/>
<offline-allowed/>
<keywords>tour</keywords>
</information>
<security/>
<resources>
<java max-heap-size="512m" initial-heap-size="128m" version="1.6+"/>
<property value="true" name="jnlp.packEnabled"/>
<jar href="lib/base64coder-${base64coderVersion}.jar" part="base64coder" download="lazy"/>
<package name="biz.source_code.base64Coder.*" part="base64coder" recursive="true"/>
<jar href="lib/org.jbundle.model-${project.version}.jar" part="org.jbundle.model"/>
<package name="org.jbundle.model.*" part="org.jbundle.model"/>
<jar href="lib/org.jbundle.res-${project.version}.jar" part="org.jbundle.res" download="lazy"/>
<package name="org.jbundle.res.base.*" part="org.jbundle.res" recursive="true"/>
<package name="org.jbundle.res.thin.*" part="org.jbundle.res" recursive="true"/>
<package name="org.jbundle.res.main.*" part="org.jbundle.res" recursive="true"/>
<jar href="lib/org.jbundle.res.docs-${project.version}.jar" part="org.jbundle.res.docs" download="lazy"/>
<package name="org.jbundle.res.docs.*" part="org.jbundle.res.docs" recursive="true"/>
<jar href="lib/org.jbundle.res.images-${project.version}.jar" part="org.jbundle.res.images"/>
<package name="org.jbundle.res.images.*" part="org.jbundle.res.images" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.db-${project.version}.jar" part="org.jbundle.thin.base.db"/>
<package name="org.jbundle.thin.base.db.*" part="org.jbundle.thin.base.db"/>
<package name="org.jbundle.thin.base.db.mem.*" part="org.jbundle.thin.base.db"/>
<package name="org.jbundle.thin.base.db.util.*" part="org.jbundle.thin.base.db" recursive="true"/>
<package name="org.jbundle.thin.base.db.mem.base.*" part="org.jbundle.thin.base.db" recursive="true"/>
<package name="org.jbundle.thin.base.db.buff.*" part="org.jbundle.thin.base.db" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.db.misc-${project.version}.jar" part="org.jbundle.thin.base.db.misc"/>
<package name="org.jbundle.thin.base.db.mem.proxy.*" part="org.jbundle.thin.base.db.misc" recursive="true"/>
<package name="org.jbundle.thin.base.db.mem.memory.*" part="org.jbundle.thin.base.db.misc" recursive="true"/>
<package name="org.jbundle.thin.base.db.mem.serial.*" part="org.jbundle.thin.base.db.misc" recursive="true"/>
<package name="org.jbundle.thin.base.db.mem.net.*" part="org.jbundle.thin.base.db.misc" recursive="true"/>
<package name="org.jbundle.thin.base.db.client.*" part="org.jbundle.thin.base.db.misc" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.message-${project.version}.jar" part="org.jbundle.thin.base.message"/>
<package name="org.jbundle.thin.base.message.*" part="org.jbundle.thin.base.message" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.remote-${project.version}.jar" part="org.jbundle.thin.base.remote" download="lazy"/>
<package name="org.jbundle.thin.base.remote.*" part="org.jbundle.thin.base.remote" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.screen-${project.version}.jar" part="org.jbundle.thin.base.screen"/>
<package name="org.jbundle.thin.*" part="org.jbundle.thin.base.screen"/>
<package name="org.jbundle.thin.base.screen.*" part="org.jbundle.thin.base.screen"/>
<package name="org.jbundle.thin.base.screen.comp.*" part="org.jbundle.thin.base.screen" recursive="true"/>
<package name="org.jbundle.thin.base.screen.print.*" part="org.jbundle.thin.base.screen" recursive="true"/>
<package name="org.jbundle.thin.base.screen.action.*" part="org.jbundle.thin.base.screen" recursive="true"/>
<package name="org.jbundle.thin.base.screen.menu.*" part="org.jbundle.thin.base.screen" recursive="true"/>
<package name="org.jbundle.thin.base.screen.landf.*" part="org.jbundle.thin.base.screen" recursive="true"/>
<package name="org.jbundle.thin.base.screen.util.html.base.*" part="org.jbundle.thin.base.screen"/>
<jar href="lib/org.jbundle.thin.base.screen.cal.grid-${project.version}.jar" part="org.jbundle.thin.base.screen.cal.grid" download="lazy"/>
<package name="org.jbundle.thin.base.screen.cal.grid.*" part="org.jbundle.thin.base.screen.cal.grid"/>
<jar href="lib/org.jbundle.thin.base.screen.cal.other-${project.version}.jar" part="org.jbundle.thin.base.screen.cal.other" download="lazy"/>
<package name="org.jbundle.thin.base.screen.cal.popup.*" part="org.jbundle.thin.base.screen.cal.other"/>
<package name="org.jbundle.thin.base.screen.cal.opt.*" part="org.jbundle.thin.base.screen.cal.other"/>
<jar href="lib/org.jbundle.thin.base.screen.grid-${project.version}.jar" part="org.jbundle.thin.base.screen.grid" download="lazy"/>
<package name="org.jbundle.thin.base.screen.grid.*" part="org.jbundle.thin.base.screen.grid" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.screen.util-${project.version}.jar" part="org.jbundle.thin.base.screen.util" download="lazy"/>
<package name="org.jbundle.thin.base.screen.util.*" part="org.jbundle.thin.base.screen.util"/>
<package name="org.jbundle.thin.base.screen.util.cal.*" part="org.jbundle.thin.base.screen.util" recursive="true"/>
<package name="org.jbundle.thin.base.screen.db.converter.*" part="org.jbundle.thin.base.screen.util"/>
<jar href="lib/org.jbundle.thin.base.screen.util.misc-${project.version}.jar" part="org.jbundle.thin.base.screen.util.misc"/>
<package name="org.jbundle.thin.base.screen.util.html.*" part="org.jbundle.thin.base.screen.util.misc"/>
<package name="org.jbundle.thin.base.screen.util.mail.*" part="org.jbundle.thin.base.screen.util.misc" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.thread-${project.version}.jar" part="org.jbundle.thin.base.thread"/>
<package name="org.jbundle.thin.base.thread.*" part="org.jbundle.thin.base.thread" recursive="true"/>
<jar href="lib/org.jbundle.thin.base.util-${project.version}.jar" part="org.jbundle.thin.base.util"/>
<package name="org.jbundle.thin.base.util.*" part="org.jbundle.thin.base.util"/>
<jar href="lib/org.jbundle.thin.base.util.base64-${project.version}.jar" part="org.jbundle.thin.base.util.base64"/>
<package name="org.jbundle.thin.base.util.base64.*" part="org.jbundle.thin.base.util.base64" recursive="true"/>
<jar href="lib/org.jbundle.thin.main-${project.version}.jar" part="org.jbundle.thin.main" download="lazy"/>
<package name="org.jbundle.thin.main.calendar.*" part="org.jbundle.thin.main" recursive="true"/>
<package name="org.jbundle.thin.main.user.*" part="org.jbundle.thin.main" recursive="true"/>
<package name="org.jbundle.thin.main.msg.*" part="org.jbundle.thin.main" recursive="true"/>
<package name="org.jbundle.thin.main.db.*" part="org.jbundle.thin.main" recursive="true"/>
<package name="org.jbundle.thin.main.properties.*" part="org.jbundle.thin.main" recursive="true"/>
<jar href="lib/org.jbundle.thin.opt.location-${project.version}.jar" part="org.jbundle.thin.opt.location" download="lazy"/>
<package name="org.jbundle.thin.opt.location.*" part="org.jbundle.thin.opt.location" recursive="true"/>
<jar href="lib/org.jbundle.util.calendarpanel-${jbundleCalendarpanelVersion}.jar" part="org.jbundle.util.calendarpanel" download="lazy"/>
<package name="org.jbundle.thin.base.screen.calendar.*" part="org.jbundle.util.calendarpanel" recursive="true"/>
<package name="org.jbundle.util.calendarpanel.*" part="org.jbundle.util.calendarpanel" recursive="true"/>
<jar href="lib/org.jbundle.util.jcalendarbutton-${jbundleJcalendarbuttonVersion}.jar" part="org.jbundle.util.jcalendarbutton" download="lazy"/>
<package name="org.jbundle.thin.base.screen.jcalendarbutton.*" part="org.jbundle.util.jcalendarbutton" recursive="true"/>
<package name="org.jbundle.util.jcalendarbutton.*" part="org.jbundle.util.jcalendarbutton" recursive="true"/>
<jar href="lib/org.jbundle.util.muffinmanager-${jbundleUtilMuffinmanagerVersion}.jar" part="org.jbundle.util.muffinmanager" download="lazy"/>
<package name="org.jbundle.util.muffinmanager.*" part="org.jbundle.util.muffinmanager" recursive="true"/>
<jar href="lib/org.jbundle.util.osgi-${jbundleOsgiVersion}.jar" part="org.jbundle.util.osgi" download="lazy"/>
<package name="org.jbundle.util.osgi.*" part="org.jbundle.util.osgi" recursive="true"/>
</resources>
<component-desc/>
</jnlp>
