<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Welcome</title>
		<author email="don@tourgeek.com">Don Corley</author>
	</properties>
	<body>
		<section name="Application Model">
			<p>
			<table>
				<tr>
					<td width="90%" valign="center" height="100%">
						<table>
							<tr>
								<td colspan="2"><div style="font-size: 135%;">
								<div style="font-style: bold;">jbundle core has a simple application model.</div><br/>
								You can find these classes
								in the jbundle-model project (package: org.jbundle.model).</div><hr/></td>
							</tr>
							<tr>
								<td>Environment</td>
								<td>Top level object contains all of the Applications<br/>
								<div style="font-size: 75%">(optional)</div></td>
							</tr>
							<tr>
								<td>Application</td>
								<td>An Application contains all of a single user's Tasks<br/>
								<div style="font-size: 75%"></div></td>
							</tr>
							<tr>
								<td>Task</td>
								<td>An independent thread<br/>
								<div style="font-size: 75%">ie., Applet, Session, or Servlet</div></td>
							</tr>
							<tr>
								<td>RecordOwner</td>
								<td>A program<br/>
								<div style="font-size: 75%">ie., Screen or Process</div></td>
							</tr>
							<tr>
								<td>Record</td>
								<td>A data record<br/>
								<div style="font-size: 75%">(Contains fields/objects)</div></td>
							</tr>
							<tr>
								<td>Table</td>
								<td>A collections of records<br/>
								<div style="font-size: 75%">(For navigating through records)</div></td>
							</tr>
							<tr>
								<td>Database</td>
								<td>A collection of tables</td>
							</tr>
						</table>
					</td>
					<td>
						<img src="images/programstructure.jpg" alt=""/>
					</td>
				</tr>
			</table>
			</p>
		</section>
		<section name="Implementations">
		<p>
		There are several concrete implementations of this model in the JBundle project:
		</p>
		<table>
			<tr>
				<td><strong>Thick</strong></td><td>Thick java client. Functionality
				and application simplicity are the goal. Currently there are four views:<br/>
				<ul>
					<li>Java client - This rich client can be deployed as an Web Start Applet or standalone.</li>
					<li>Ajax client - This client uses the <a href="http://www.dojotoolkit.org">dojo ajax toolkit</a></li>
					<li>XML client - This client uses <a href="http://cocoon.apache.org">apache cocoon</a> to render beautiful web pages</li>
					<li>HTML client - Where the user has limited resources and bandwidth</li>
				</ul></td>
			</tr>
			<tr>
				<td><strong>Thin</strong></td><td>Lightweight java client. Where bandwidth and
				application speed are a concern.</td>
			</tr>
			<tr>
				<td><strong>Servlet</strong></td><td>Web clients (Ajax, XML, HTML).</td>
			</tr>
			<tr>
				<td><strong>Session</strong></td><td>Remote clients (Thin and Thick Applets
				as well as remote [SOA] clients).</td>
			</tr>
		</table>
		</section>
	</body>
</document>

