<!DOCTYPE jnlp PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<jnlp codebase="$$context" spec="1.0+">
<information>
<title>Personal Application Resources</title>
<vendor>tourapp.com</vendor>
<homepage href="index.html"></homepage>
<description kind="one-line">Personal Application Resources</description>
<description kind="short">Personal Application Resources</description>
<icon href="images/tour/icons/Tour.gif"></icon>
<offline-allowed></offline-allowed>
<keywords>tour</keywords>
</information>
<security></security>
<resources>
<java max-heap-size="512m" initial-heap-size="128m" version="1.6+"></java>
<property value="true" name="jnlp.packEnabled"></property>
<jar href="lib/jbundle-app-contact.jar" part="jbundle-app-contact" download="lazy"></jar>
<package name="org.jbundle.app.contact.*" part="jbundle-app-contact" recursive="true"></package>
<jar href="lib/jbundle-app-dance.jar" part="jbundle-app-dance" download="lazy"></jar>
<package name="org.jbundle.app.dance.*" part="jbundle-app-dance" recursive="true"></package>
<jar href="lib/jbundle-app-picture.jar" part="jbundle-app-picture" download="lazy"></jar>
<package name="org.jbundle.app.picture.*" part="jbundle-app-picture" recursive="true"></package>
<jar href="lib/jbundle-res-app-contact.jar" part="jbundle-res-app-contact" download="lazy"></jar>
<package name="org.jbundle.res.app.contact.*" part="jbundle-res-app-contact" recursive="true"></package>
<jar href="lib/jbundle-res-app-dance.jar" part="jbundle-res-app-dance" download="lazy"></jar>
<package name="org.jbundle.res.app.dance.*" part="jbundle-res-app-dance" recursive="true"></package>
<jar href="lib/jbundle-res-app-picture.jar" part="jbundle-res-app-picture" download="lazy"></jar>
<package name="org.jbundle.res.app.picture.*" part="jbundle-res-app-picture" recursive="true"></package>
<jar href="lib/jbundle-thin-app-contact.jar" part="jbundle-thin-app-contact" download="lazy"></jar>
<package name="org.jbundle.thin.app.contact.*" part="jbundle-thin-app-contact" recursive="true"></package>
<jar href="lib/jbundle-thin-app-dance.jar" part="jbundle-thin-app-dance" download="lazy"></jar>
<package name="org.jbundle.thin.app.dance.*" part="jbundle-thin-app-dance" recursive="true"></package>
<jar href="lib/jbundle-thin-app-picture.jar" part="jbundle-thin-app-picture" download="lazy"></jar>
<package name="org.jbundle.thin.app.picture.*" part="jbundle-thin-app-picture" recursive="true"></package>
</resources>
<component-desc></component-desc>
</jnlp>
